::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #FEBF3A !important; 
}

::ng-deep .mat-checkbox-frame{
    border: 1px solid #707070 !important;
}

::ng-deep .mat-checkbox-inner-container{
    height: 18px !important;
    width: 18px !important;
}