<div class="main-wrapper">
    <div class="container-fluid " >
        <div class="row justify-content-end" style="min-height: 85vh;">
            <div class="col-sm-4 px-4 mt-3">
                 

                <div class="text-center pt-4 pb-3 theme-color f-24 raleway-bold">Forgot Password?</div>
                <div class="theme-color mb-3 f-17 raleway text-center">Enter the Email ID associated<br>
                    <span>with your account</span>
                </div>
                <div class="raleway theme-color mb-3 f-15 pb-4 text-center">we'll send a verfication code<br>
                <span>to reset your password</span></div>
                <form [formGroup]="forgotForm" class="m-auto forgot-form">
                    <div  class="mb-1 mt-3">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label class="raleway-semibold theme-color f-10">EMAIL</mat-label>
                            <input matInput  formControlName="email" class="bg-theme">
                            <mat-error> Enter Email*</mat-error>


                          </mat-form-field>
                           
                    </div>
                    
                    <div class="text-center mt-2">
                        <button mat-raised-button class="rounded-pill bg-yellow raleway-bold w-100 py-1 f-13 mb-3 text-dark" (click)="submit()">SEND</button>
                    </div>
                    </form>
                    <div class="mt-4 mx-auto w-50">
                        <div class="d-flex justify-content-center ">
                            <img src="../../../assets/apple.png" width="40" class="px-1 hover">
                                <img src="../../../assets/facebook.png" width="40" class="px-1 hover">
                                <img src="../../../assets/g.png" width="40" class="px-1 hover">
                        </div>

                        <div class="d-flex justify-content-around mt-2">
                            <span class="theme-color f-11 raleway pt-1" >Don't have an account?</span>
                            <span class="theme-color f-12 raleway-bold hover align-self-center" (click)="register()">Sign UP</span>
                        </div>                        
                    </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>