<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-md-4">
            <div style="text-align: center;">
                <img style="width: 15rem;padding: 40px;" src="../../../assets/logo@2x.png">
            </div>
            <div>
                <div class="merri-bold f-14 theme-color" style="text-align: center;">Enter the password which you received along with the meeting URL</div>
            </div>
            <div>
                <label class="merri-bold f-14 theme-color" style="padding: 40px 0px 5px 0px;">Password</label>
            </div>
            <div style="padding: 5px 0px 20px 0px;">
                <input type="password" name="password" class="merri-bold f-13 theme-color" 
                style="width: 100%;border: 1px solid #52758B;padding: 8px;-webkit-text-security: circle;">
            </div>
            <div style="padding: 20px 0px;text-align: center;">
                <button class="btn btn-sm merri-bold f-14" style="background: #FEBF3A ;box-shadow: 0px 3px 6px #00000029;
                border-radius: 24px;text-align: center;color: #000000;padding: 8px 50px;">Join The Call</button>
            </div>
        </div>
    </div>
</div>