<div class="bg-theme p-2  hover text-md-left text-center" [ngClass]="{'extra-padding':!isNotLoginPages()}" (click)="navigateToHome()">
    <img src="../../../assets/RobinsonandHenry__Horizontal_White_Logo.png" style="width: 16rem;">
    </div>
    <div class="p-3 d-flex justify-content-between shadow" *ngIf="isNotLoginPages()">
    <div class="align-self-center d-flex ml-2" >
    <div class="mx-3">
        <img src="../../../assets/menu.png" width="25" height="20" [routerLink]="['/attorneymenu/profile']" style="cursor: pointer;">
        
    </div>
        <ul class="list-unstyled nav" *ngIf="isLoggedIn">
            <li class="nav-item"  [ngClass]="{'active':routerEndPoint == 'home'}" (click)="toHomePage()">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span> <span class="nav-link merri-reg f-13">Home</span>
            </li>
            <li class="nav-item"  [ngClass]="{'active':routerEndPoint == 'clients'}" (click)="clients()">
    <span class="icon">
        <i class="fas fa-users"></i>
    </span> <span class="nav-link merri-reg f-13">Clients</span>
            </li>
          
        </ul>
    </div>
    <div class="d-flex align-self-center mr-2" *ngIf="!isLoggedIn">
        <span class=" theme-color align-self-center px-1 raleway-bold f-15 hover" 
            style="vertical-align: middle !important;">
            <span (click)="loginPage()">LOGIN</span>
        </span>
        <span>
            <img src="../../../assets/user.png" (click)="consultationPage()" width="39"  >
        </span>
    </div>
    <div class="d-flex align-self-center mr-2" *ngIf="isLoggedIn">
        <span class=" align-self-center px-4  hover" 
        style="vertical-align: middle !important;" (click)="notificationPage()">
    <img src="../../../assets/notifications.png">
    </span>
        <span>
            <img src="../../../assets/ic_md@2x.png" width="39"  >
        </span>
    </div>
    </div>
    