
<div class="container-fluid  ">
<div class="row">
    <div class=" px-5 mt-5  mb-3 pl-5 d-flex" >
        <div class="profile-box d-flex shadow position-relative my-4" style="max-height: 90px;max-width: 40rem;border-bottom-left-radius: 30%;border-top-left-radius:30% ;">
            <img src="../../../assets/pic3.jpg" class="position-relative rounded-circle " style="height: 140px;top: -2rem;left: -0.3rem; border: 2px solid #52758B">
            <!--{{baseUrl+attorneyDetails.profilePic}}-->
            <div class="align-self-center px-3 position-relative">
                <ul class="list-unstyled mb-0 theme-color" style="left: -0.4rem;">
                    <li class=" merri-reg f-17">
                        Manish Dakkal
                    </li>
                    <li class="proxi-reg f-15 theme-color">
                        VedasLabsanantapur@gmail.com
                    </li>
                    <li class="proxi-reg f-15 theme-color" style="max-width: 700px;">
                       ooooooooooooooooo
                    </li>
                </ul>                    
            </div>  
                      
        </div>
        <div class="mt-5 ml-5">
            <img src="../../../assets/schedule.png">
        </div>
    </div>
</div>



</div>

<div class="merri-bold f-17 p-3 pl-5  mt-5 m-0 theme-color" style="background-color: #f0f4f7; width: 100%;">Previous Meetings</div>

<div class="col-md-11 border shadow p-3 mr-2 ml-5 pr-4 mt-5  " style="border-radius: 10px;">
    <div class="row">
        <div class="col-md-4 p-1 ">
            <div   class="container theme-color px-3 f-16 merri-bold">Estimate Planning In Office Consult.</div>
            <div class="row m-0">
                <div class="f-17 raleway pt-2 pl-3 "> 
                    <img src="../../../assets/calendar_1.png"> 
                    <span class=" raleway-semibold f-19 theme-color ml-2">9:30 AM</span><span
                        class=" raleway-semibold f-19 theme-color pl-3"> Nov 18, 2020 </span>
                </div>
            </div>
        </div>
      
         
        <!-- <div class="f-17 raleway pt-2 pl-3  co"> <img src="../../../assets/calendar_1.png"> <span class=" raleway-semibold f-19 theme-color ml-2">9:30 AM</span><span class=" raleway-semibold f-19 theme-color pl-3"> Nov 18, 2020 </span>  -->



    </div>





</div>

<div class="col-md-11 border shadow p-3 mr-2 mb-3 ml-5 pr-4 mt-3  " style="border-radius: 10px;">
    <div class="row">
        <div class="col-md-4 p-1 ">
            <div   class="container theme-color px-3 f-16 merri-bold">Dissolution Of Marraige.</div>
            <div class="row m-0">
                <div class="f-17 raleway pt-2 pl-3 "> 
                    <img src="../../../assets/calendar_1.png"> 
                    <span class=" raleway-semibold f-19 theme-color ml-2">9:30 AM</span><span
                        class=" raleway-semibold f-19 theme-color pl-3"> Nov 18, 2020 </span>
                </div>
            </div>
        </div>
 
         
        <!-- <div class="f-17 raleway pt-2 pl-3  co"> <img src="../../../assets/calendar_1.png"> <span class=" raleway-semibold f-19 theme-color ml-2">9:30 AM</span><span class=" raleway-semibold f-19 theme-color pl-3"> Nov 18, 2020 </span>  -->



    </div>





</div>
 
