.selected-data:hover {
    background: #8CB8CA 0% 0% no-repeat padding-box;
    color: #ffffff !important;
    border: transparent;
  }
  .highlighted {
    background: #8CB8CA 0% 0% no-repeat padding-box;
    color: #ffffff !important;
  }