<div class="container-fluid hidden-scroll" style="max-height: 80vh;overflow-y: auto;">
    <div class="row mt-3">
      <div class="col-md-11 p-1 theme-color raleway-semibold bg-light-theme">
        <span class="container px-3 f-17 merri-bold">Privacy Policy</span>
        <div class="f-13 px-3 raleway-medium">Last modified {{todayDate | date:"'MMM d, y"}}</div>
      </div>
    </div>
  
    <div class="row" style="padding: 20px">
      <div class=" bg-light-theme">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">Introduction</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              ROBINSON AND HENRY, P.C. (“Company” or “We“) respect your privacy and are committed to protecting it through our compliance with this policy.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              This policy describes the types of information we may collect from you or that you may provide when you visit the website https://www.robinsonandhenry.com/ (our “Website”) and our practices for collecting, using, maintaining, protecting, and disclosing that information.
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row" style="padding: 20px">
      <div class="w-25">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">You are responsible for :</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              On this Website.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              In email, text, and other electronic messages between you and this Website.
            </div>
          </li>
  
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Through mobile and desktop applications you download from this Website, which provide dedicated non-browser-based interaction between you and this Website.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              When you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.
  
            </div>
          </li>
        </ul>
      </div>
    </div>
  
  
    <div class="row" style="padding: 20px">
      <div class="">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">It does not apply to information collected by:</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
               Us offline or through any other means, including on any other website operated by Company or any third part (including our affiliates and subsidiaries); or Any third party (including our affiliates and subsidiaries), including through any application or content (including advertising) that may link to or be accessible from (or on) the Website.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  