.main-wrapper{
    position: relative;
   
    height: auto;
    background: #fff url('../../../assets/background.png')  no-repeat top center ;
    background-size: 100% 100%;
}

 .login-form{
    max-width: 22.125rem;
}
::ng-deep .mat-form-field-underline {
    display: none !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #DDE3E8 !important;

}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .40em .60em 0 .60em !important;
}
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{
    background-color: #FEBF3A !important;
}
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb{
    background-color: #FEBF3A;
}
::ng-deep .mat-slide-toggle-bar{
    background-color: #e1e1e1 !important;
}