<div class="container-fluid p-0 ">
    
<div class="text-center">
    <div class="d-block merri-reg f-20 theme-color mt-3">Select Attorney
        <span class="float-right hover text-right mr-2">
      <img width="35" style="border-radius: 50%;" (click)="closeModal()"
        src="../../../assets/cancel.png">
    </span></div>
</div>
<div class="mt-4">
    <hr>
</div>



 

<div class="text-center mt-5">
    <button mat-raised-button class="px-4 p-1 merri-bold f-16 text-white pl-5" style="background-color: #52758B;">Donald Eby<span class="pl-5  text-center">></span></button>
</div>
<div class="text-center mt-3">
    <button mat-raised-button class="px-4 p-1 merri-bold f-16 text-white pl-5" style="background-color: #52758B;">Donald Eby<span class="pl-5  text-center">></span></button>
</div>
<div class="text-center mt-3 mb-4 ">
    <button mat-raised-button class="px-4 p-1 merri-bold f-16 text-white pl-5" style="background-color: #52758B;">Donald Eby<span class="pl-5  text-center">></span></button>
 </div>
 

</div>



