<div class="container-fluid p-0 ">
    
<div class="text-center">
    <div class="d-block merri-reg f-20 theme-color">Select Attorney
        <span class="float-right hover text-right">
      <img width="35" style="border-radius: 50%;" 
        src="../../../assets/cancel.png">
    </span></div>
</div>
<hr>


 

<div class="text-center mt-2">
    <img src="../../../assets/schedule.png">
</div>
<div class="text-center">
    <img src="../../../assets/schedule.png">
</div>
<div class="text-center mb-4">
    <img src="../../../assets/schedule.png">
</div>
 

</div>



