<div class="main-wrapper">
    <div class="container-fluid py-3" >
        <div class="row justify-content-end" style="min-height: 76vh;">
            <div class="col-sm-4 align-self-center">
                <button mat-raised-button [routerLink]="['/browse_attorneys']" class="py-3 bg-theme btn-block text-white rounded-pill merri f-17">
                    Browse Our Attorneys
                </button>
                <button mat-raised-button [routerLink]="['/select-legal-topic']" class="py-3 bg-theme btn-block text-white rounded-pill merri f-17">
                    Search By Legal Topic
                </button>
                <button mat-raised-button class="py-3 bg-theme btn-block text-white rounded-pill merri f-17">
                    Talk to an Attorney
                </button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>