<div class="container-fluid hidden-scroll" style="max-height: 80vh;overflow-y: auto;">
    <div class="row mt-3">
      <div class="col-md-11 p-1 theme-color raleway-semibold bg-light-theme">
        <span class="container px-3 f-17 merri-bold">Terms of Use</span>
        <div class="f-13 px-3 raleway-medium">Last modified {{todayDate | date:"hh:mm aa"}}</div>
      </div>
    </div>
  
    <div class="row" style="padding: 20px">
        <div class=" bg-light-theme">
            <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">Acceptance of the Terms of Use</div>
        </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
      <ul class="p-0" style="list-style-type:none;">
        <li class="mb-3">
          <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
            These terms of use are entered into by and between You and ROBINSON AND HENRY, P.C. (“Company”, “we” or “us”). The following terms and conditions, together with any documents they expressly incorporate by reference, (collectively, these “Terms of Use”), govern your access to and use of https://www.robinsonandhenry.com/, including any content, functionality and services offered on or through https://www.robinsonandhenry.com/ (the “Website”).
          </div>
        </li>
        <li class="mb-3">
          <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
            Please read the Terms of Use carefully before you start to use the Website. By using the Website or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use and our Privacy Policy, found at https://www.robinsonandhenry.com/privacy/, incorporated herein by reference. If you do not want to agree to these Terms of Use or the Privacy Policy, you must not access or use the Website.
          </div>
        </li>
        <li class="mb-3">
          <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
            This Website is offered and available to users who 18 years of age or older and reside in the United States or any of its territories or possessions. By using this Website, you represent and warrant that you are of legal age to form a binding contract with the Company and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Website.
          </div>
        </li>
      </ul>
      </div>
    </div>
  
    <div class="row" style="padding: 20px">
      <div class=" bg-light-theme">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">Changes to the Terms of Use</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              We may revise and update these Terms of Use from time to time in our sole discretion. All changes are effective immediately when we post them, and apply to all access to and use of the Website thereafter. However, any changes to the dispute resolution provisions set forth in Governing Law and Jurisdiction will not apply to any disputes for which the parties have actual notice on or prior to the date the change is posted on the Website.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Your continued use of the Website following the posting of revised Terms of Use means that you accept and agree to the changes. You are expected to check this page from time to time/frequently/each time you access this Website, so that you are aware of any changes, as they are binding on you.
            </div>
          </li>
  
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Accessing the Website and Account Security We reserve the right to withdraw or amend this Website, and any service or material we provide on the Website, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Website, or the entire Website, to users.
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="row" style="padding: 20px">
      <div class=" bg-light-theme">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">You are responsible for:</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Making all arrangements necessary for you to have access to the Website.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Ensuring that all persons who access the Website through your Internet connection are aware of these Terms of Use and comply with them.
            </div>
          </li>
  
        </ul>
      </div>
    </div>
  
  <div>
    To access the Website or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the Website that all the information you provide on the Website is correct, current and complete. You agree that all information you provide to register with this Website or otherwise, including but not limited to through the use of any interactive features on the Website, is governed by our Privacy Policy, and you consent to all actions we take with respect to your information consistent with our Privacy Policy.
  </div>
  
  
    <div class="row" style="padding: 20px">
      <div class=" bg-light-theme">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">Intellectual Property Rights</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              The Website and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by the Company, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              These Terms of Use permit you to use the Website for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our Website, except as follows:
            </div>
          </li>
          <div class="container">
            <div class="col-md-11 p-0">
              <ul class="p-0" style="list-style-type:none;">
                <li class="mb-3">
                  <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
                    Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.
                  </div>
                </li>
                <li class="mb-3">
                  <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
                    You may store files that are automatically cached by your Web browser for display enhancement purposes.
                  </div>
                </li>
  
                <li class="mb-3">
                  <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
                    You may print or download pages of the Website for your own personal, non-commercial use and not for further reproduction, publication or distribution.
                  </div>
                </li>
  
                <li class="mb-3">
                  <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
                    If we provide desktop, mobile or other applications for download, you may download a single copy to your computer or mobile device solely for your own personal, non-commercial use, provided you agree to be bound by our end user license agreement for such applications.
                  </div>
                </li>
  
                <li class="mb-3">
                  <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
                    If we provide social media features with certain content, you may take such actions as are enabled by such features.
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </ul>
      </div>
    </div>
  
  
    <div class="row" style="padding: 20px">
      <div class=" bg-light-theme">
        <div class="theme-color f-16 merri-reg" style="padding: 5px 10px">You must not:</div>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Modify copies of any materials from this site.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from this site.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              Access or use for any commercial purposes any part of the Website or any services or materials available through the Website.
            </div>
          </li>
  
        </ul>
      </div>
    </div>
  
    <div class="container">
      <div class="col-md-11 p-0">
        <ul class="p-0" style="list-style-type:none;">
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              If you wish to make any use of material on the Website other than that set out in this section, please call (303) 688-0944.
            </div>
          </li>
          <li class="mb-3">
            <div class="f-16 raleway-medium" style=" text-align: justify;text-justify: inter-word;">
              If you print, copy, modify, download or otherwise use or provide any other person with access to any part of the Website in breach of the Terms of Use, your right to use the Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title or interest in or to the Website or any content on the Website is transferred to you, and the Company reserves all rights not expressly granted. Any use of the Website not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark and other laws.
            </div>
          </li>
  
        </ul>
      </div>
    </div>
  
  
  </div>
  