<div class="main-wrapper">
    <div class="container-fluid " >
        <div class="row justify-content-end" style="min-height: 85vh;">
            <div class="col-sm-4  align-self-center ">
                <div class="text-center">
                    <img src="../../../assets/icon_2.png" width="120">
                </div>

                <h5 style="color: #52758B; font-weight: 600; text-align: center;" class="pb-3 pt-3">Reset your Password?</h5>
                <div class="proxi-reg theme-color mb-3 f-14" style="text-align: center;">What would you like your<br>
                    <span>new password to be?</span>
                </div>
                <form [formGroup]="resetForm" class="reset-form m-auto">
                    <div  class="mb-1 mt-1">
                        <mat-form-field class="w-100 pt-3" appearance="fill">
                            <mat-label class="raleway-semibold theme-color f-10">PASSWORD</mat-label>
                            <input matInput  formControlName="password" class="bg-theme">
                            <mat-error class="f-12 "
                                *ngIf=" resetForm.get('password').dirty && resetForm.get('password').hasError('pattern')">
                                Password must have atleast one (specail & uppercase & lowercase & digit & (min 8 or max 13)) character should allow !!</mat-error>
                            <mat-error
                                *ngIf="
                                resetForm.get('password').touched && resetForm.get('password').hasError('required')">
                              New  Password required...!
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="text-center mt-4">
                        <button mat-raised-button (click)="submit()"  class="rounded-pill bg-yellow raleway-bold w-100 py-1 text-dark">SAVE</button>
                    </div>
                    </form>
                  
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="text-center pt-5 pb-3">
                        <img src="../../../assets/icon_1.png" width="80">
                    </div>

                        <div class="text-center theme-color f-22 raleway-bold py-3">Password Reset Successful!</div>

                        <div class="text-center raleway-medium f-18 theme-color py-2">You can use it right now on the <br>
                            <div class="text-center raleway-bold f-18 pt-1 pb-5 hover">Login  <span class="pb-5 raleway-medium">Page</span> </div>
                        </div>

                    
                </div>
            </div>
        </div>
      </ng-template>