.main-wrapper{
    position: relative;
   
    height: auto;
    background: #fff url('../../../assets/background.png')  no-repeat top center ;
    background-size: 100% 100%;
}
.updatepass-form{
    max-width: 22.125rem;
}
::ng-deep .mat-form-field-underline {
    display: none !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #DDE3E8 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .40em .60em 0 .60em !important;
}

::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-icon {
color: #52758B !important;
}

::ng-deep .modal-content {
    margin-top: 20vh !important;
}