<div class="container-fluid">
    <div class="col-md-12">
      <div class="row mt-3" style="padding: 70px 0;text-align: center;justify-content: center;">
        <div class="" style="margin: 15vh;">
          <div class=" m-0">
            <div class="f-21 pl-3 merri" >Call us </div>
          </div>
          <div class=" m-0 mb-2">
            <div class="f-21 pl-3 merri">for tech support </div>
          </div>
          <div class="">
            <img src="../../../assets/phone_button_1.png" >
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  